services:
  jaeger:
    image: jaegertracing/all-in-one:1.57
    environment:
      - COLLECTOR_ZIPKIN_HTTP_PORT=9411
    container_name: jaeger
    command:
      - --log-level=debug
    ports:
      - "16686:16686"
      - "14268:14268"
      - "14250:14250"
      - "9411:9411"

  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.102.1
    restart: unless-stopped
    container_name: otel-collector
    command: ["--config=/etc/otel-collector-config.yml"]
    volumes:
      - ./otel-collector-config.yaml:/etc/otel-collector-config.yml
    ports:
      - "1888:1888"
      - "13133:13133"
      - "4317:4317"
      - "4318:4318"
      - "55679:55679"
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:13133"]
      interval: 5s
      retries: 10
      timeout: 3s
      start_period: 10s
    depends_on:
      - jaeger

  database:
    image: postgres:16
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DATABASE}
    volumes:
      - db-data:/var/lib/postgresql/data

  shortener-api:
    build:
      context: .
      dockerfile: Dockerfile
    image: shortener-api
    container_name: shortener-api
    restart: unless-stopped
    environment:
      - PORT=3000
      - DATABASE_URL=postgresql://${PG_USER}:${PG_PASSWORD}@${PG_HOST}:${PG_PORT}/${PG_DATABASE}?schema=public
      - JWT_SECRET=${JWT_SECRET}
      - BASE_URL=http://localhost:${PORT}
      - OTEL_EXPORTER_OTLP_ENDPOINT=${OTEL_EXPORTER_OTLP_ENDPOINT}
    ports:
      - "${PORT}:3000"
    depends_on:
      - database
      - otel-collector
    command:
      ["./wait-for.sh", "database:${PG_PORT}", "--", "npm", "run", "start"]

volumes:
  db-data:

networks:
  default:
    name: app-network
    driver: bridge
